
# Transcription
->KinA		|	2*viKinA/(2**(((t-trep)/6)%1+trep/6))
->Spo0A		|	(v0A0+v0Amax*(s)/(K0A+s))
->Spo0F		|	2*(v0F0+v0Fmax*(s**2)/(K0F**2+s**2))/(2**(((t)%6)/6))
->Spo0B		|	0.7
->Rap		|	0.105	
->Spo0E		|	0.07

# ->PspoIIg	|	

# Delay analog 

->s	|		100*(Spo0A_p-s)



# Autophosphorelation

KinA->KinA_p		| kap*KinA
KinA_p->KinA		| kadp*KinA_p

# Phosphorelay reactions

KinA_p + Spo0F ->   KinA_p_Spo0F		|	kb*KinA_p*Spo0F
KinA_p_Spo0F   ->   KinA_p + Spo0F 		|	k1*KinA_p_Spo0F


KinA_p_Spo0F   ->   KinA + Spo0F_p		|	k2*KinA_p_Spo0F
KinA + Spo0F_p ->   KinA_p_Spo0F  		|	kb*KinA*Spo0F_p

	
Spo0F_p + Spo0B -> Spo0F_p_Spo0B		|	kb*Spo0F_p*Spo0B
Spo0F_p_Spo0B   -> Spo0F_p + Spo0B 		|	k3*Spo0F_p_Spo0B

Spo0F_p_Spo0B   ->  Spo0F + Spo0B_p		|	k4*Spo0F_p_Spo0B
Spo0F + Spo0B_p ->  Spo0F_p_Spo0B		|	kb*Spo0F*Spo0B_p


Spo0B_p + Spo0A -> Spo0B_p_Spo0A		|	kb*Spo0B_p*Spo0A
Spo0B_p_Spo0A   -> Spo0B_p + Spo0A 		|	k5*Spo0B_p_Spo0A

Spo0B_p_Spo0A   -> Spo0A_p + Spo0B		|	k6*Spo0B_p_Spo0A
Spo0A_p + Spo0B -> Spo0B_p_Spo0A		|	kb*Spo0B*Spo0A_p


KinA_p + Spo0A ->   KinA_p_Spo0A		|	kb*KinA_p*Spo0A
KinA_p_Spo0A   ->   KinA_p + Spo0A 		|	ka1*KinA_p_Spo0A


KinA_p_Spo0A   ->   KinA + Spo0A_p		|	ka2*KinA_p_Spo0A
KinA + Spo0A_p ->   KinA_p_Spo0A  		|	kb*KinA*Spo0A_p




# Repression of 0E Rap

Spo0F_p + Rap  ->  Spo0F_p_Rap			|	kb*Spo0F_p*Rap
Spo0F_p_Rap  ->  Spo0F_p + Rap			|	kubr*Spo0F_p_Rap
Spo0F_p_Rap  ->  Spo0F + Rap			|	kr*Spo0F_p_Rap

Spo0A_p + Spo0E  ->  Spo0A_p_Spo0E			|	kb*Spo0A_p*Spo0E
Spo0A_p_Spo0E  ->  Spo0A_p + Spo0E			|	kube*Spo0A_p_Spo0E
Spo0A_p_Spo0E  ->  Spo0A + Spo0E			|	ke*Spo0A_p_Spo0E

# Degradation

KinA 		->	  |	   kdeg*KinA 			
KinA_p	       	->	  |	   kdeg*KinA_p	       		 
KinA_p_Spo0F   	->	  |	   kdeg*KinA_p_Spo0F   		 
Rap	       	->	  |	   kdeg*Rap	       		 
Spo0A          	->	  |	   kdeg*Spo0A          		
Spo0A_p        	->	  |	   kdeg*Spo0A_p        		
Spo0A_p_Spo0E  	->	  |	   kdeg*Spo0A_p_Spo0E  		
Spo0B          	->	  |	   kdeg*Spo0B          		
Spo0B_p        	->	  |	   kdeg*Spo0B_p        		
Spo0B_p_Spo0A  	->	  |	   kdeg*Spo0B_p_Spo0A  		
Spo0E          	->	  |	   kdeg*Spo0E          		
Spo0F          	->	  |	   kdeg*Spo0F          		
Spo0F_KinA     	->	  |	   kdeg*Spo0F_KinA     		
Spo0F_p        	->	  |	   kdeg*Spo0F_p        		
Spo0F_p_Rap    	->	  |	   kdeg*Spo0F_p_Rap    		
Spo0F_p_Spo0B  	->	  |	   kdeg*Spo0F_p_Spo0B  		
