# UNIT: micromolar,hour

# Transcription

trep=0

viKinC=5.5


v0A0=1.4
v0Amax=14
K0A=0.15

v0F0=0.35
v0Fmax=7
K0F=0.2

# Post-Transcription

#Auto p/dp and binding rate

kap=8

kadp=2

kb=500


#Phosphorelay

k1=1000

k2=100

k3=500

k4=800

k5=200

k6=800

kd1=1000

kd2=100

# repression

# ki=80

kubr=100

kr=100

kube=100

ke=100

kdeg=0.7
