# 0A-p input

->Spo0A_p   |    sp

# Transcription

->SinI      |    (2**(((t-trep)/trr)%1+trep/trr))*(vsini0+vsinimax*(Spo0A_p**n/(Spo0A_p**n+Km1sini**n))*(Km2sini**n/(Spo0A_p**n+Km2sini**n)))

->SinR		|  (2**(((t-trep)/trr)%1+trep/trr))vsinr

->SlrR		|   vslrr0+vslrrmax*(Kmslrr**n/(SinR**n+Kmslrr**n))

->Ptap          |  vptap0+vptapmax*(Kmptap**n/(SinR**n+Kmptap**n))



# Post_Transcription

SinI+SinR->SinI_SinR    |  kb*SinI*SinR
SinI_SinR->SinI+SinR    |k1*SinI_SinR

4*SinR -> SinR_t	|kte*SinR**4
SinR_t -> 4*sinR 	|kdte*SinR_4

SinR+SlrR->SinR_SlrR    |kb*SlrR*SinR
SinR_SlrR->SinR+SlrR	|k2*SinR_SlrR

# Degradation

Spo0A_p		->  	|kdeg* Spo0A_p	 
SinI		-> 	|kdeg* SinI	 
SinR		->      |kdeg* SinR	 
SlrR		->	|kdeg* SlrR	 
Ptap		->	|kdeg* Ptap	 
SinI_SinR	->	|kdeg* SinI_SinR
SinR_SlrR	->	|kdeg* SinR_SlrR
SinR_t		->	|kdeg* SinR_t
