
# Transcription

-> SinI | 2/(2**(((t-trr)/trep)%1+trr/trep))*(vsini0+vsinimax*(Spo0A_p**nsin1/(Spo0A_p**nsin1+Km1sini**nsin1))*(Km2sini**nsin2/(Spo0A_p**nsin2+Km2sini**nsin2)))


->SinR		|  (0.5+0.5*Pk**np/(Ptap**np+Pk**np))*2/(2**(((t-trr)/trep)%1+trr/trep))*vsinr

->SlrR		|  4/(2**(((t-tlr)/trep)%1+tlr/trep))*(vslrr0+vslrrmax*(Kmslrr**nslr/(SinR**nslr+Kmslrr**nslr)))

->Ptap          |   vptap0+vptapmax*(Kmptap**ntap/(SinR**ntap+Kmptap**ntap))

->Pmot          |	vpmot0+vpmotmax*(Kmpmot**nmot/(SinR_SlrR**nmot+Kmpmot**nmot))

# Post_Transcription

SinI+SinR->SinI_SinR    |  kb1*SinI*SinR
SinI_SinR->SinI+SinR    |kd1*SinI_SinR

SinR+SlrR->SinR_SlrR    |kb2*SlrR*SinR
SinR_SlrR->SinR+SlrR	|kd2*SinR_SlrR

# Degradation


SinI		-> 	|kdeg* SinI	 
SinR		->      |kdeg* SinR	 
SlrR		->	|kdeg* SlrR	 
Ptap		->	|kdeg* Ptap	 
SinI_SinR	->	|kdeg* SinI_SinR
SinR_SlrR	->	|kdeg* SinR_SlrR
Pmot		->	|kdeg* Pmot	 

ppp-> |kdeg*ppp
->ppp|vptap0+vptapmax*(Kmptap**ntap/(SinR_SlrR**ntap+Kmptap**ntap))
SlrR		->	|kdegslr*SlrR
