
# Transcription

-> SinI | (vsini0+vsinimax*(Spo0A_p**nsin1/(Spo0A_p**nsin1+Km1sini**nsin1))*(Km2sini**nsin2/(Spo0A_p**nsin2+Km2sini**nsin2)))*(1+((t-(int(t/Tg))*Tg)>Tr))


->SinR		|  vsinr*(1+((t-(int(t/Tg))*Tg)>Tr))

->SlrR		|   (vslrr0+vslrrmax*(Kmslrr**nslr/(SinR**nslr+Kmslrr**nslr)))

->Ptap          |   vptap0+vptapmax*(Kmptap**ntap/(SinR**ntap+Kmptap**ntap))



# Post_Transcription

SinI+SinR->SinI_SinR    |  kb1*SinI*SinR
SinI_SinR->SinI+SinR    |kd1*SinI_SinR

SinR+SlrR->SinR_SlrR    |kb2*SlrR*SinR
SinR_SlrR->SinR+SlrR	|kd2*SinR_SlrR

# Degradation


SinI		-> 	|0.6931/Tg* SinI	 
SinR		->      |0.6931/Tg* SinR	 
SlrR		->	|0.6931/Tg* SlrR	 
Ptap		->	|0.6931/Tg* Ptap	 
SinI_SinR	->	|0.6931/Tg* SinI_SinR
SinR_SlrR	->	|0.6931/Tg* SinR_SlrR



SlrR		->	|(0.6931/Tg+kdegslr)*SlrR
