
# Transcription


->SinI      |    (vsini0+vsinimax*((float((t>t1) & (t<t2)))**nsin1/((float((t>t1) & (t<t2)))**nsin1+Km1sini**nsin1))*(Km2sini**nsin2/((float((t>t1) & (t<t2)))**nsin2+Km2sini**nsin2)))

->SinR		|  vsinr

->SlrR		|   (vslrr0+vslrrmax*(Kmslrr**nslr/(SinR_t**nslr+Kmslrr**nslr)))

->Ptap          |   vptap0+vptapmax*(Kmptap**ntap/(SinR_t**ntap+Kmptap**ntap))



# Post_Transcription

SinI+SinR->SinI_SinR    |  kb*SinI*SinR
SinI_SinR->SinI+SinR    |k1*SinI_SinR

4*SinR -> SinR_t	|kte*SinR**4
SinR_t -> 4*SinR 	|kdte*SinR_t

SinR+SlrR->SinR_SlrR    |kb*SlrR*SinR
SinR_SlrR->SinR+SlrR	|k2*SinR_SlrR

# Degradation


SinI		-> 	|kdeg* SinI	 
SinR		->      |kdeg* SinR	 

Ptap		->	|kdeg* Ptap	 
SinI_SinR	->	|kdeg* SinI_SinR
SinR_SlrR	->	|kdeg* SinR_SlrR
SinR_t		->	|kdeg* SinR_t


SlrR		->	|kdegslr*SlrR
